<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />

<p>
    Apprenons aux robots à distinguer les mots et les chiffres.
</p>

<p>
    On vous donne une chaîne de mots et de chiffres séparés par des espaces (un espace).
    Les mots ne contiennent que des lettres.
    Vous devez vérifier si la chaîne contient trois mots <strong>successifs</strong>.
    Par exemple, la chaîne "start 5 <strong>one two three</strong> 7 end" contient trois mots à la suite.
</p>

<p>
   <strong>Entrée:</strong> Une <span>chaîne de caractères</span> <span>(string)</span> contenant des mots.
</p>

<p>
   <strong>Sortie:</strong> La réponse sous forme de {% if is_js %}<span>booléen</span> <span>(boolean)</span>{% else %}<span>booléen</span> <span>(bool)</span>{% endif %}.
</p>



<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

</div>

<p class="for_info_only">
   <strong>Comment l'utiliser:</strong>
    Ce cours vous apprend à travailler avec des chaînes de caractères et vous présente quelques fonctions utiles.
</p>

<p>
   <strong>Condition préalable:</strong>
    L'entrée contient des mots et/ou des chiffres. Il n'y a pas de mots mélangés (lettres et chiffres combinés).<br>
    0 &lt; len(words) &lt; 100
</p>
