<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />

<p>
    Nauczmy roboty rozróżniać słowa i liczby.
</p>

<p>
    Otrzymują Państwo ciąg znaków zawierający słowa i liczby oddzielone białymi znakami (jedna spacja).
    Słowa zawierają tylko litery.
    Proszę sprawdzić, czy ciąg zawiera trzy <strong>następujące po sobie</strong> słowa.
    Na przykład ciąg "start 5 <strong>one two three</strong> 7 end" zawiera trzy następujące po sobie słowa.
</p>

<p>
   <strong>Dane wejściowe:</strong> Ciąg znaków <span>{% if is_js %}(string){% else %}(str){% endif %}</span> ze słowami.
</p>

<p>
   <strong>Wyjście:</strong> Wartość logiczna <span>{% if is_js %}(boolean){% else %}(bool){% endif %}</span>.
</p>



<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

</div>

<p class="for_info_only">
   <strong>Jak jest używany:</strong>
    To uczy, jak pracować z ciągami znaków i wprowadza kilka przydatnych funkcji.
</p>

<p>
   <strong>Warunek wstępny:</strong>
    Dane wejściowe zawierają słowa i/lub liczby. Nie ma mieszanych słów (liter i cyfr łącznie).<br>
    0 &lt; len(words) &lt; 100
</p>
